/* -- GENERAL FONT STYLE */
/* ----> Sets font to entire webpage. */
* {
    font-family: 'Silkscreen', cursive; 
}

/* -- NAVIGATION BAR STYLES */
nav {
    background-color: #000 !important;
}

nav a:hover {
    color: rgb(237, 218, 8) !important;
}

/* -- BODY STYLE */
/* ----> Sets background image. */
body {
    background: #000;
    background-image: url("../images/site/dw_background.png");
    background-repeat: no-repeat;
   }

/* -- HEADER STYLES */
h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* -- PARAGRAPH STYLES */
p {
    margin-top: 25px;
}

/* -- BUTTON STYLES */
.standard {
    margin-top: 20px;
}

button:hover {
    background-color: gold;
}

section button {
    font-size: 20px;
}

.choices button {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 11px;

}

/* -- HIDE CLASS */
/* ----> Allows sections to be hidden */
.hide {
    display: none;
}

/* -- RESPONSE STYLE */
.response {
    text-align: center;
}

/* -- FINAL SCORE STYLE */
#highscore {
    font-size: 16px;
    letter-spacing: -2px;
}

ol {
    padding-left: 0px;
    font-size: 20px;
    color: #000;
}